// Import Lato Font Form Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Reset Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #222;
}

ul,
ol {
    list-style: none;
}


/* Set Width */
.container-fluid {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* Navigation Section  */
.navigation {
    padding: 0 10px;
    overflow: hidden;

    // Brand
    a {
        display: block;
        float: left;      
        line-height: 60px; 

        img {
            width: 140px;
            vertical-align: middle;
        }
    }

    // Navbar 
    .nav {
        float: right;
    
        ul {
            li {
                display: inline-block;
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
    
                a {
                    display: block;
                    padding: 0 15px;
                    color: #333;
                    line-height: 60px;

                    &:hover {
                        color: #15a4fa;
                    }
                }
            }
        }
    }

    // Toggle Button
    .toggle {
        float: right;
        margin-top: 19px;
        display: none;
        cursor: pointer;

        div {
            width: 20px;
            height: 2px;
            background-color: #333;
            margin: 7px 0;
        }
    }
}

// Heading Area 
.heading {
    background: url(../assets/images/banner.png);
    background-position: center center;
    background-size: cover;
    padding: 160px 0 80px;
    text-align: center;

    h2 {
        font-size: 115px;
        font-weight: 700;
        color: #fff;
        position: relative;
    
        &::after {
            content: "";
            position: absolute;
            width: 34rem;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #15a4fa;
        }
    }

    p {
        padding-top: 20px;
        font-size: 18px;
        color: #fff;
    }

    > a {
        display: inline-block;
        margin-top: 80px;
        border: 1px solid #15a4fa;
        padding: 13px 26px;
        color: #fff;

        &:hover {
            background-color: #15a4fa;
        }
    }

    .icon {
        margin-top: 120px;

        img {
            width: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            animation: animate 1s linear infinite;

            @keyframes animate {
                0%{
                    margin-top: 0px;
                }
                100%{
                    margin-top: 15px;
                }
            }
        }
    }
}


// About Section 
.about-bg {
    background-color: #f6f9f9;
}

.about {
    padding: 50px 50px 100px;
    text-align: center;    

    h2 {
        font-size: 40px;
        color: #2d3950;
        padding: 20px 0;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
        color: #999999;
    }
}


// Service Section  
.service {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;

    .service_item {
        width: 30%;
        text-align: center;

        .icon {
            width: 100px;
            height: 100px;
            border-radius: 3px;
            background-color: #5fc3ff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                background: #48baff;
                border-radius: 3px 0 0 3px;
            }

            img {
                position: relative;
            }
        }

        h3 {
            font-size: 22px;
            color: #2d3950;
            padding: 18px 0;
        }

        p {
            font-size: 15px;
            color: #999;
            padding: 0 20px;
        }
    }
}

// Portfolio Section 
.portfolio {
    padding: 60px 0;

    h2 {
        text-align: center;
        font-size: 40px;
        color: #2d3950;
        padding: 20px 0;
    }

    p {
        text-align: center;
        color: #909090;
        font-size: 15px;
        padding-bottom: 60px;
    }

    .portfolio_item {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;

        .showcase {
            width: 31%;
            position: relative;

            &:hover .overlay{
                width: 100%;

                .icon {
                    img {
                        opacity: 1;
                    }
                }
            }

            > img {
                width: 100%;
                vertical-align: middle;
            }

            .overlay {
                position: absolute;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(95, 195, 255, .8);
                transition: .5s all ease;
                border-radius: 3px;

                .icon {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        padding: 0 10px;
                        opacity: 0;
                        cursor: pointer;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

// Contact Area 
.contact-bg {
    background: url(../assets/images/contactImg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contact {
    padding: 60px 0;

    .contact_head {
        text-align: center;

        h2 {
            padding: 15px 0;
            color: #fff;
            font-size: 40px;
        }

        p {
            font-size: 15px;
            color: #999;
        }
    }

    #contact_form {        
        width: 42%;
        margin: 0 auto;
        margin-top: 40px;

        > input, textarea {
            width: 100%;
            padding: 15px 10px;
            color: #f6f9f9;
            border: 1px solid #999;
            border-radius: 4px;
            background-color: transparent;
            margin-bottom: 15px;
            outline: none;
            font-family: 'Lato', sans-serif;
        }

        .submit-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .subscribe {
                display: flex;
                align-items: center;

                input {
                    width: 0;
                    height: 0;

                    &:checked ~ label{
                        background: #15a4fa;
                    }

                    &:checked ~ label::after{
                        width: 4px;
                        height: 9px;
                        border-width: 0 3px 3px 0; 
                    }
                }

                label {
                    color: #f6f9f9;
                    width: 20px;
                    height: 20px;
                    background: #a0a0a0;
                    border-radius: 3px;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 7px;   
                        width: 0;
                        height: 0;
                        border: solid #fff;
                        border-width: 0;                   
                        transform: rotate(45deg);
                    }
                }

                p {
                    margin-left: 10px;
                    color: #f6f9f9;
                    cursor: pointer;
                }               
            }

            input {
                padding: 10px 40px;
                border: 1px solid #15a4fa;
                color: #f6f9f9;
                background-color: transparent;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

// Footer
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    p {
        color: #999;
        font-size: 15px;
    }

    .footer_social {
                
        img {
            vertical-align: middle;
            margin: 0 3px;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

// Scroll To Top
.scrollTop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    img {
        width: 40px;
    }
}


// Responsive
@media screen and (max-width: 1199.98px) {
    .container {
        width: 950px;
    }

    .contact{        
        #contact_form {
            width: 50%;
        }
    }
}

@media screen and (max-width: 991.98px){
    .container {
        width: 750px;
    }

    .contact {
        #contact_form {
            width: 65%
        }
    }
}

@media screen and (max-width: 767.98px){
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .navigation {
        .nav {
            display: none;
            width: 100%;
            position: absolute;
            background: #f6f9f9;
            top: 60px;
            left: 0px;
            z-index: 999;
            transition: .5s all ease;

            ul {
                padding: 0 8px;

                li {
                    display: block;
                    overflow: hidden;
                }
            }
        }

        .toggle {
            display: block;
        }
    }

    

    .service {
        justify-content: center;
        flex-direction: column;

        .service_item {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .portfolio {
        justify-content: center;
        flex-direction: column;

        .portfolio_item {
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .showcase {
                width: 100%;
                margin-bottom: 35px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 575.98px){
    .heading {

        h2 {
            font-size: 60px;

            &::after {
                width: 15rem;
            }
        }
    }

    .contact{

        #contact_form {
            width: 100%;
        }
    }

    .footer {
        justify-content: center;
        flex-direction: column;

        p {
            padding-bottom: 15px;
        }
    }
}